* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  height: 150px;
  background-color: #ac3b61;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

button {
  width: 150px;
  height: auto;
  font-size: 1.563rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
  cursor: pointer;
  color: #123c69;
}

main {
  display: flex;
  justify-content: center;
}

footer {
	display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #edc7b7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: #ac3b61;
}

footer a:hover {
  color: #123c69;
}

.logo {
  font-size: 4.768rem;
  font-weight: 600;
  color: #fff;
}

.container {
  position: relative;
  min-height: 100vh;
  background-color: #eee2dc;
}

.shelves {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  height: auto;
  padding: 40px 30px;
  margin-bottom: 60px;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 250px;
  min-height: 300px;
  height: 300px;
  background-color: #bab2b5;
  visibility: visible;
  font-size: 2.441rem;
  border-radius: 10px;
  padding: 20px;
}

.book-title .book-author {
  word-wrap: normal;
}

.book-title {
  font-weight: 700;
  color: #ac3b61;
  font-size: 1.953rem;
}

.book-author {
  font-style: italic;
  color: #123c69;
  font-size: 1.563rem;
}

.book-pages {
  font-size: 1.563rem;
  color: #fff;
}

.buttons {
  text-align: center;
}

.copyright {
  color: #123c69;
  font-size: 1.563rem;
}

.not-read:hover {
  background-color: #123c69;
  color: #fff;
  transition: 0.7s ease;
}

.remove:hover {
  background-color: #ac3b61;
  color: #fff;
  transition: 0.7s ease;
}

#new-book {
  background-color: #123c69;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: auto;
  height: auto;
  font-weight: 700;
  font-size: 1.953rem;
}

#new-book:hover {
  background-color: #edc7b7;
  color: #123c69;
  transition: 0.7s ease;
}

/* For smaller screens */

@media screen and (max-width: 659px) {
  header {
    flex-direction: column;
    padding: 20px 100px;
    gap: 20px;
    height: auto;
    min-width: 385px;
  }
  .shelves {
    justify-content: center;
  }
}